---
import Nav from '@/components/nav/Nav.astro';
import Icon from 'astro-icon';
import ButtonMode from '../ButtonMode.astro';
import ButtonSize from '../ButtonSize.astro';
const SiteTitle = 'ไทยยูไอ 01';
---

<header
	id="head"
	class="sticky top-0 border-b-[3px] border-solid border-th-nav-bg bg-th-head-bg px-0 py-4 leading-[1.8rem] text-th-head-text dark:border-th-nav-bg-dark dark:bg-th-head-bg-dark dark:text-th-head-text-dark lg:relative lg:border-b-0 lg:py-5"
>
	<div class="mx-auto flex w-full max-w-th-width-lg items-center gap-4 px-4 md:px-5">
		<a
			href="/"
			class="flex items-center gap-[0.9rem] text-[1.5em] leading-[1.8rem] dark:text-th-link-1-dark lg:text-[2.25em]"
			title="Home"
		>
			<Icon name="logo" width="1.5em" height="1.5em" />
			<strong class="pt-[0.2rem] leading-[1.8rem] md:pt-[0.337rem] lg:leading-[2.7rem]"
				>{SiteTitle}</strong
			>
		</a>
		<small class="hidden pt-[0.5rem] text-[0.9em] opacity-80 lg:block"
			>ตัวอย่างเทมเพลตเว็บภาษาไทยในรูปแบบ Astro</small
		>
		<div class="ml-auto flex items-center gap-4 pr-20 lg:pr-0">
			<ButtonMode />
			<ButtonSize />
		</div>
	</div>
</header>
<Nav />

<script>
	import '../../scripts/nav.js';
</script>
