---
import Icon from 'astro-icon';
const nav = [
	{ name: 'หน้าแรก', link: '/' },
	{ name: 'เกี่ยวกับเรา', link: '/about' },
	{ name: 'ตัวอย่างส่วนหัว', link: '/headers' },
	{ name: 'ตัวอย่างเนื้อหา', link: '/contents' },
	{ name: 'ตัวอย่างส่วนท้าย', link: '/footers' },
	{ name: 'บทความจาก WordPress', link: '/wordpress' },
	{ name: 'เนื้อหาจาก Notion', link: '/notion' },
	{ name: 'ตารางจาก Google Sheet', link: '/googlesheet' },
];
---

<input type="checkbox" id="nav-open" aria-label="Toggle Mobile Menu" />
<div
	class="th-nav z-[900] bg-th-nav-bg text-th-nav-text dark:bg-th-nav-bg-dark lg:sticky lg:top-0 lg:p-0"
>
	<div class="mx-auto w-full max-w-th-width-lg px-4 md:px-5">
		<label
			class="nav-toggle fixed right-4 top-[1em] flex items-center gap-1.5 rounded-th-rounded-1 border-[1.5px] border-solid border-th-head-text px-1.5 py-0.5 text-th-head-text dark:text-th-head-text-dark lg:hidden"
			for="nav-open"
		>
			<Icon name="menu" height="24" /><span class="text-base">เมนู</span>
		</label>
		<nav>
			<label class="close" for="nav-open">
				<Icon
					name="close flex lg:hidden items-center gap-1.5 rounded-th-rounded-1 border-[1.5px] border-solid px-1.5 py-[3px] absolute top-[1em] right-4"
					height="24"
				/><span>ปิดเมนู</span>
			</label>
			<ul
				class="lg:height-[unset] m-0 h-full overflow-auto py-0 pl-6 pr-4 lg:flex lg:flex-wrap lg:gap-x-[1.5em] lg:gap-y-0 lg:overflow-visible lg:p-0"
			>
				{
					nav.map((n) => (
						<li class="relative flex min-h-10 w-full list-none flex-wrap items-center px-0 py-2 lg:min-h-[54px] lg:w-auto">
							<a
								href={n.link}
								class="text-th-nav-text hover:text-th-nav-text hover:opacity-80"
								rel="prefetch"
							>
								{n.name}
							</a>
						</li>
					))
				}
			</ul>
			<label
				class="bg absolute right-full top-0 flex h-full w-screen items-center gap-1.5 bg-black/50 lg:hidden"
				for="nav-open"></label>
		</nav>
	</div>
</div>
