---
import Slogan from '@/components/sections/Slogan.astro';
import Title1 from '@/components/sections/Title1.astro';
import Layout from '@/layouts/Layout.astro';

const title = 'นักศึกษาปัจจุบัน';
const description = 'ข้อมูลสำหรับนักศึกษาปัจจุบัน';
---

<Layout title={title} description={description}>
	<Slogan title={title} description={description} />

	<div class="mx-auto mb-8 text-center">
		<p class="text-2xl font-semibold">MUCRS</p>
	</div>
	<div class="mx-auto mb-10 max-w-xl space-y-5 text-center text-2xl">
		<a
			class="link-hover card link flex h-20 items-center justify-center rounded-box bg-base-300"
			href="https://www.facebook.com/share/15ySccGBMW/"
			target="_blank"
		>
			สโมสรนักศึกษา วิทยาลัยศาสนศึกษา มหาวิทยาลัยมหิดล
		</a>
		<a
			class="link-hover card link flex h-20 items-center justify-center rounded-box bg-base-300"
			href="#"
		>
			CRS Student Portal
		</a>
		<a
			class="link-hover card link flex h-20 items-center justify-center rounded-box bg-base-300"
			href="https://www.facebook.com/CRSNamthong"
			target="_blank"
		>
			หอพักน้ำทองสิกขาลัย
		</a>
		<a
			class="link-hover card link flex h-20 items-center justify-center rounded-box bg-base-300"
			href="https://op.mahidol.ac.th/sa/scholarsupport/"
			target="_blank"
		>
			ทุนการศึกษา
		</a>
		<a
			class="link-hover card link flex h-20 items-center justify-center rounded-box bg-base-300"
			href="https://www.facebook.com/CrsMahidol"
			target="_blank"
		>
			ติดต่อเจ้าหน้าที่
		</a>
	</div>

	<div class="mx-auto mb-8 mt-12 text-center">
		<p class="text-2xl font-semibold">MU</p>
	</div>
	<div class="mx-auto mb-10 max-w-xl space-y-5 text-center text-2xl">
		<a
			class="link-hover card link flex h-20 items-center justify-center rounded-box bg-base-300"
			href="https://mustudent.mahidol.ac.th/"
			target="_blank"
		>
			MU Life Pass
		</a>
	</div>
</Layout>
