@font-face {
	font-family: 'Noto Sans Thai';
	src: url('/assets/fonts/NotoSansThai-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Noto Sans Thai';
	src: url('/assets/fonts/NotoSansThai-Bold.woff2') format('woff2');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Noto Sans';
	src: url('/assets/fonts/NotoSansThai-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Noto Sans';
	src: url('/assets/fonts/NotoSansThai-Bold.woff2') format('woff2');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}
