---
import Slogan from '@/components/sections/Slogan.astro';
import Title1 from '@/components/sections/Title1.astro';
import Layout from '@/layouts/Layout.astro';

const title = 'ติดต่อเรา';
const description = 'ช่องทางติดต่อวิทยาลัยศาสนศึกษา มหาวิทยาลัยมหิดล';
---

<Layout title={title} description={description}>
	<Slogan title={title} description={description} />

	<div class="my-10 space-y-4 text-center">
		<div class="text-lg font-semibold">วิทยาลัยศาสนศึกษา มหาวิทยาลัยมหิดล</div>
		<div>999 ตำบลศาลายา อำเภอพุทธมณฑล จังหวัดนครปฐม 73170</div>
		<div>
			Tel. <a href="tel:+6628002630" class="text-blue-600 hover:underline">(02) 800-2630-9</a>
		</div>
		<div>
			Fax. <a href="fax:+6628002659" class="text-blue-600 hover:underline">(02) 800-2659</a>
		</div>
		<div>
			E-mail: <a href="mailto:crs@mahidol.ac.th" class="text-blue-600 hover:underline"
				>crs@mahidol.ac.th</a
			>
		</div>
	</div>

	<div class="mx-auto my-10 aspect-video h-96 max-w-full">
		<iframe
			src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15498.694265972106!2d100.3186385!3d13.7985415!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30e2938fadcb950f%3A0x9ff2f12100df190a!2z4Lin4Li04LiX4Lii4Liy4Lil4Lix4Lii4Lio4Liy4Liq4LiZ4Lio4Li24LiB4Lip4LiyIOC4oeC4q-C4suC4p-C4tOC4l-C4ouC4suC4peC4seC4ouC4oeC4q-C4tOC4lOC4pQ!5e0!3m2!1sth!2sth!4v1727777451458!5m2!1sth!2sth"
			width="100%"
			height="100%"
			style="border:0;"
			allowfullscreen=""
			loading="lazy"
			referrerpolicy="no-referrer-when-downgrade"
			class="mt-4"></iframe>
	</div>
</Layout>
