---
import Image from '../../components/ui/Image.astro';
const { title, description, thumbnail } = Astro.props;
---

<section
	class="max-w-screen mx-[calc(-50vw_+_50%)] w-screen bg-th-bg-3 dark:bg-th-bg-3-dark lg:mb-20 lg:h-[340px]"
>
	<div
		class="-px-4 mx-auto w-full max-w-th-width-lg pb-0 width-sm:max-w-th-width-sm md:px-5 md:pb-5 lg:px-6 lg:pb-6 xl:px-[30px] xl:pb-[30px]"
	>
		<div class="grid items-center lg:grid-cols-2">
			<div class="w-full lg:ml-[calc(-50vw_+_100%)] lg:w-[50vw]">
				<Image src="/img/thumbnail-4.jpg" classes="w-full lg:h-[340px] object-cover" alt="ThaiUI" />
			</div>
			<div class="px-4 py-6 lg:py-0 lg:pl-16 lg:pr-0">
				<h3
					set:html={title}
					class="mb-4 text-2xl font-normal text-th-text-3 dark:text-th-text-3-dark lg:mb-5"
				/>
				<p set:html={description} class="mb-0 text-th-text-4 dark:text-th-text-4-dark" />
			</div>
		</div>
	</div>
</section>
