---
const { title, description, bgImage = "/img/bg-slogan.jpg" } = Astro.props;
---

<section
	class="mx-[calc(-50vw_+_50%)] mb-20 flex h-[340px] items-center bg-cover bg-center"
	style={`background-image: url('${bgImage}')`}
>
	<div class="mx-auto w-full max-w-th-width-lg px-4 md:px-5">
		<h2 class="mb-3 text-center text-3xl font-normal text-white md:text-left">
			{title}
		</h2>
		<p class="mb-0 text-center text-white md:text-left">
			{description}
		</p>
	</div>
</section>
