---
const { title, description } = Astro.props;
---

<section class="mx-auto my-20 max-w-xl text-center">
	<h1 class="mb-5 text-2xl font-normal text-th-text-3 dark:text-th-text-3-dark">
		{title}
	</h1>
	<p class="mb-0 text-th-text-4 dark:text-th-text-4-dark">{description}</p>
</section>
