---
import Layout from '../layouts/Layout.astro';

const title = '404 Not Found';
const description = 'College of Religious Studies, Mahidol University';
---

<Layout title={title} description={description}>
	<div class="py-32 text-center">
		<h1>ขออภัย ไม่พบหน้าที่คุณต้องการ</h1>
		<a href="/">กลับหน้าแรก</a>
	</div>
</Layout>
