---

---

<button
	class="th-size border-0 bg-transparent bg-none p-0 leading-4 text-inherit duration-300 ease-in-out hover:scale-110 hover:cursor-pointer"
	title="Font Size Toggle"
>
	<span class="s size-s:flex flex items-center justify-center gap-0.5 size-m:hidden size-l:hidden"
		>ก<small>+</small></span
	>
	<span class="m hidden items-center justify-center gap-0.5 size-m:flex">ก<small>+</small></span>
	<span class="l hidden items-center justify-center gap-0.5 size-l:flex">ก<small>-</small></span>
</button>

<script is:inline>
	function init() {
		const size = (() => {
			if (typeof localStorage !== 'undefined' && localStorage.getItem('size')) {
				return localStorage.getItem('size');
			}
			return 's';
		})();
		const e = document.documentElement;
		if (size === 'l') {
			e.classList.add('size-l');
		} else if (size === 'm') {
			e.classList.remove('size-l');
			e.classList.add('size-m');
		} else {
			e.classList.remove('size-l');
			e.classList.remove('size-m');
		}
		window.localStorage.setItem('size', size);
		const ToggleSize = () => {
			const e = document.documentElement;
			if (e.classList.contains('size-l')) {
				localStorage.setItem('size', 's');
				e.classList.remove('size-l');
				e.classList.remove('size-m');
			} else if (e.classList.contains('size-m')) {
				localStorage.setItem('size', 'l');
				e.classList.add('size-l');
				e.classList.remove('size-m');
			} else {
				localStorage.setItem('size', 'm');
				e.classList.add('size-m');
				e.classList.remove('size-l');
			}
		};
		document.querySelector('.th-size').addEventListener('click', ToggleSize);
	}
	document.addEventListener('astro:page-load', init);
</script>
