---
import Icon from 'astro-icon';
---

<footer
	id="foot"
	class="mt-auto bg-th-foot-bg p-4 text-center text-xs leading-[1.2rem] text-th-foot-text dark:bg-th-foot-bg-dark md:p-5"
>
	<div class="mx-auto w-full max-w-th-width-lg px-4 md:px-5">
		© 2024. <a
			href="https://thaiui.org/"
			class="text-th-foot-text hover:text-white hover:opacity-80">ThaiUI</a
		> All Rights Reserved.
	</div>
</footer>
