---
import Base from './Base.astro';
const { title, description, bodyclass = '', cover = '/cover.png' } = Astro.props;
---

<Base title={title} description={description} bodyclass={bodyclass} cover={cover}>
	<main
		id="content"
		class="mx-auto w-full max-w-th-width-lg px-4 pb-4 width-sm:max-w-th-width-sm md:px-5 md:pb-5 lg:pb-6 xl:pb-[30px]"
	>
		<slot />
	</main>
</Base>
