---
import Icon from 'astro-icon';
import '@/styles/nav.scss';

import { nav } from './Nav.data';
---

<input
	type="checkbox"
	id="nav-open"
	class="absolute left-0 top-0 opacity-0"
	name="nav-open"
	aria-label="Toggle Mobile Menu"
/>
<div
	class="th-nav z-[900] bg-th-nav-bg text-th-nav-text dark:bg-th-nav-bg-dark lg:sticky lg:top-0 lg:p-0"
>
	<div class="mx-auto w-full max-w-th-width-lg px-4 md:px-5">
		<label
			class="nav-toggle fixed right-4 top-[1.2rem] flex items-center gap-1.5 rounded-th-rounded-1 border-[1.5px] border-solid border-th-head-text px-1.5 py-0.5 text-th-head-text dark:border-th-head-text-dark dark:text-th-head-text-dark lg:hidden"
			for="nav-open"
		>
			<Icon name="menu" height="24" /><span class="text-base">เมนู</span>
		</label>
		<nav
			class="nav-content invisible fixed right-0 top-0 z-[900] h-dvh w-[280px] translate-x-full bg-th-nav-bg p-0 pt-[60px] text-[1.125em] opacity-0 shadow-th-shadow-2 dark:bg-th-nav-bg-dark lg:visible lg:relative lg:right-[unset] lg:top-[unset] lg:h-[unset] lg:w-[unset] lg:translate-x-0 lg:overflow-visible lg:bg-none lg:p-[unset] lg:opacity-100 lg:shadow-none"
		>
			<label
				class="close absolute right-4 top-[1em] flex items-center gap-1.5 rounded-th-rounded-1 border-[1.5px] border-solid px-1.5 py-[3px] lg:hidden"
				for="nav-open"
			>
				<Icon name="close" class="p-0.5" height="24" /><span class="whitespace-nowrap text-base"
					>ปิดเมนู</span
				>
			</label>
			<ul
				class="lg:height-[unset] m-0 h-full overflow-auto py-0 pl-6 pr-4 lg:flex lg:flex-wrap lg:gap-x-[1.5em] lg:gap-y-0 lg:overflow-visible lg:p-0"
			>
				{
					nav.map((n) => (
						<li
							class={
								n.sub
									? 'has-sub group relative flex min-h-10 w-full list-none flex-wrap items-center px-0 py-2 lg:min-h-[54px] lg:w-auto lg:pr-6'
									: 'relative flex min-h-10 w-full list-none flex-wrap items-center px-0 py-2 lg:min-h-[54px] lg:w-auto'
							}
						>
							<a
								href={n.link}
								class="text-th-nav-text hover:text-th-nav-text hover:opacity-80"
								rel="prefetch"
							>
								{n.name}
							</a>
							{n.sub && (
								<>
									<span class="i-down absolute right-0 top-[0.5em] z-[1] ml-auto cursor-pointer rounded-th-rounded-1 border border-solid p-1.5 leading-[0] lg:top-[calc(50%_-_11px)] lg:border-none">
										<Icon
											name="dropdown"
											class="ease pointer-events-none duration-300 group-hover:lg:scale-y-[-1] group-hover:lg:opacity-80"
											height="10"
											width="10"
										/>
									</span>
									<ul class="sub-menu invisible m-0 h-0 w-full overflow-hidden p-0 text-[0.8em] opacity-0 transition-[0.4s] ease-out lg:absolute lg:-left-4 lg:top-full lg:z-10 lg:h-0 lg:w-max lg:min-w-[180px] lg:max-w-[400px] lg:overflow-hidden lg:bg-th-nav-bg lg:text-left group-hover:lg:visible group-hover:lg:z-[1] group-hover:lg:h-auto group-hover:lg:translate-y-[-10px] group-hover:lg:overflow-visible group-hover:lg:px-0 group-hover:lg:pb-2.5 group-hover:lg:pt-4 group-hover:lg:opacity-100 dark:lg:bg-th-nav-bg-dark">
										{n.sub.map((s) => (
											<li class="flex min-h-10 w-full list-none flex-wrap items-center px-0 py-2 lg:min-h-[unset] lg:w-auto">
												<a
													href={s.link}
													class="text-th-nav-text hover:text-th-nav-text hover:opacity-80 lg:block lg:px-4 lg:py-0"
												>
													{s.name}
												</a>
											</li>
										))}
									</ul>
								</>
							)}
						</li>
					))
				}
			</ul>
			<label
				class="bg absolute right-full top-0 flex h-full w-screen items-center gap-1.5 bg-black/50 lg:hidden"
				for="nav-open"></label>
		</nav>
	</div>
</div>
