---
import Layout from '../../layouts/Layout_Sidebar.astro';
import Side from '../../components/education/Side.astro';

export async function getStaticPaths() {
	const posts = await Astro.glob('../data/education/*.md');
	return posts.map((post) => {
		return {
			params: { slug: post.frontmatter.slug },
			props: { ...post },
		};
	});
}

const title = 'การศึกษา';
const description = 'การศึกษาของวิทยาลัยศาสนศึกษา มหาวิทยาลัยมหิดล';
---

<Layout title={title} description={description}>
	<aside slot="aside" class="order-2 md:order-1">
		<Side />
	</aside>
	<h1 class="mt-0">การศึกษา</h1>
	<p>เร็ว ๆ นี้</p>
</Layout>
