---
interface Props {
	nameTh: string;
	nameEn: string;
	positionTh: string;
	positionEn: string;
	email: string;
	image: string;
}

const { nameTh, nameEn, positionTh, positionEn, email, image } = Astro.props;
---

<div
	class="dark:shadow-th-shadow-1-dark rounded-th-rounded-2 bg-th-bg-1 p-4 shadow-th-shadow-1 dark:bg-th-bg-1-dark"
>
	<div class="mb-3 aspect-[3/4] overflow-hidden rounded-th-rounded-2">
		<img src={image} alt={nameTh} class="h-full w-full object-cover" />
	</div>
	<h2 class="mb-1 text-lg font-bold size-m:text-2xl size-l:text-4xl">{nameTh || nameEn}</h2>
	<p class="text-gray-600 dark:text-gray-400">{positionTh || positionEn}</p>
	<a href={`mailto:${email}`} class="text-sm text-th-link-1 dark:text-th-link-1-dark">
		{email}
	</a>
</div>
